<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>PLEASE SELECT 1 OPERATIONS</h1>
<ol>
<li><a href="convert_number.html">Convert Score to Letter Grade</a></li>
<li><a href="pitagoras.html">Hypotenuse</a></li>
<li><a href="squareroot.html">Squareroot</a></li>
</ol>

    
</body>
</html>